<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>
    <body>
        <div class="container my-2">
            <h1 align="center" th:text="merchant"/>
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="merchant: ${merchant}">
                        <td th:text="${merchant.id}"/>
                        <td th:text="${merchant.name}"/>
                        <td th:text="${merchant.number}"/>
                    </tr>
                </tbody>
            </table>

            <a th:href="@{/newMerchantForm}" type="button" class="btn btn-dark">Add Merchant</a>
        </div>
    </body>
</html>